body {
    background: turquoise; 
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin:10px;
    background:palegoldenrod;
}

.assignment img {
    width:200px;
    padding:3px;
    border: 2px solid turquoise;
    margin-right: 20px;
}

h1 {
    color: white;
    text-align:center;
}

a {
    text-decoration: none;
    color: turquoise;
}